In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def build_df(N=3, Nb_bd=500, seed=123456):
    np.random.seed(seed)

    rate = 0.02
    vol = 0.25
    dt = 1.0/260
    tracks = np.zeros([Nb_bd, N], dtype=np.float)

    for k in range(N):
        ln_returns = (rate-vol**2/2)*dt+vol*np.sqrt(dt)*np.random.normal(size=Nb_bd)
        ln_returns[0] = 0.0
        tracks[:, k] = np.exp(ln_returns).cumprod()

    dates = pd.date_range(start=pd.datetime(2019, 1, 1), periods=Nb_bd, freq='B')
    df = pd.DataFrame(data=tracks, index=dates, columns=['Track'+str(1+i) for i in range(N)])
    df.index = df.index.strftime('%Y-%m-%d')
    df.index.name = 'date'
    
    return df

In [3]:
df = build_df()
df.info()
display(df.head())
display(df.tail())

path = os.path.join('..', '..', 'src', 'data', 'sample.json')
with open(path, 'w') as f:
    dfp = df.reset_index()
    f.write(dfp.to_json(orient='records'))
print(f'saved file to {path}')

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 2019-01-01 to 2020-11-30
Data columns (total 3 columns):
Track1    500 non-null float64
Track2    500 non-null float64
Track3    500 non-null float64
dtypes: float64(3)
memory usage: 15.6+ KB

              Track1    Track2    Track3
date
2019-01-01  1.000000  1.000000  1.000000
2019-01-02  0.995581  1.014675  0.999001
2019-01-03  0.972516  1.016707  0.987811
2019-01-04  0.955501  1.048087  0.996246
2019-01-07  0.973585  1.057318  0.988544

              Track1    Track2    Track3
date
2020-11-24  0.545501  0.820281  1.382913
2020-11-25  0.542615  0.832207  1.344216
2020-11-26  0.556295  0.828206  1.336749
2020-11-27  0.550389  0.827145  1.295097
2020-11-30  0.556316  0.814250  1.298336

saved file to ../../src/data/sample.json